@model MKT_POLOSYS_WEB.Models.IndexViewModel


@{
    Layout = "~/Views/Shared/_LayoutDukcapil.cshtml";
}

@Html.HiddenFor(m => m.empNo)
@Html.HiddenFor(m => m.empName)


<style>
    .spasi {
        padding-right: 10px;
        padding-left: 10px;
    }

    .ex1 {
        width: 100%;
        overflow-x: scroll;
    }
</style>



<div class="wrapper">
    <div class="container-fluid" style="margin-bottom:10px">
        <div class="form-group">
        </div>
        <div class="container-fluid mx-auto mt-3 mb-2" style="width: 100%;">
            <div class="text-align:left">
            </div>
        </div>
        <form id="frmUpload" action="" method="POST" enctype="multipart/form-data">
            <div class="form-row">
                <div>
                    <label for="myFile">File Upload : </label>
                </div>
                <div class="col-6">
                    <div class="custom-file">
                        <input type="file" id="myFile" name="filename">
                    </div>
                </div>
                <div class="col-1">

                    <button type="submit" class="btn btn-md btn-primary">Upload</button>
                </div>
                <div class="col-1">
                    <button type="submit" class="btn btn-md btn-warning" id="reset">Reset</button>
                </div>
            </div>
        </form>
    </div>
    <div class="container">
        <div class="row" style="width:100%;background-color:#5f76e8;color:white;height:20px;font-size:12px;border-radius:2px">
            Perubahan Dukcapil
        </div>
        <div class="row" style="width:100%">
            <div class="card ex1" style="width:100%">
                <div class="container-fluid" style="padding: 30px;">
                    <table id="myTableListDukcapil" class="table table-striped table-bordered" style="width:100%">
                        <thead class="font_headerdukcapil">
                        </thead>
                        <tbody class="font_detaildukcapil">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

<form method="post" id="frm">
    <div class="container">
        <div class="row" style="height:30px">
            <div class="col-2 spasi">
                Region
            </div>
            <div class="col">
                <select class="form-control" data-toggle="dropdown" id="ddlRegion" name="ddlRegion">
                    <option>All</option>
                    @foreach (var item in Model.ddlRegion)
                    {
                        <option value="@item.Value"> @item.Text</option>
                    }
                </select>
            </div>
            <div class="col-2 spasi">
                Field Person Name
            </div>
            <div class="col">
                <input id="txtFpName" class="form-control" />
            </div>
            <div class="col-2" style="text-align:right">
                <button id="btnDownload" class="btn btn-primary" style="background-color:#f1f1f1;color:black;width:60px">Download</button>
            </div>
        </div>
        <div class="row" style="height:30px">
            <div class="col-2 spasi">
                Branch Name
            </div>
            <div class="col">
                <select class="form-control" data-toggle="dropdown" id="ddlBranch" name="ddlBranch">
                    <option data-region="0">All</option>
                    @foreach (var item in Model.ddlBranch)
                    {
                        <option data-region="@item.Filter" value="@item.Value"> @item.Text</option>
                    }
                </select>
            </div>
            <div class="col-2 spasi">
                Emp Position
            </div>
            <div class="col">
                <select class="form-control" data-toggle="dropdown" id="ddlEmpPosition" name="ddlEmpPosition">
                    <option>All</option>
                    @foreach (var item in Model.ddlEmpPosition)
                    {

                        <option id="" value="@item.Value"> @item.Text</option>
                    }
                </select>
            </div>
            <div class="col-2"></div>
        </div>
        <div class="row" style="height:30px">
            <div class="col-2 spasi">
                Task ID
            </div>
            <div class="col">
                <input id="txtTaskID" class="form-control" />
            </div>
            <div class="col-2 spasi">
                Status Prospek
            </div>
            <div class="col">
                <select class="form-control" data-toggle="dropdown" id="ddlStsProspek" name="ddlStsProspek">
                    <option>All</option>
                    @foreach (var item in Model.ddlStsProspek)
                    {
                        <option value="@item.Value"> @item.Text</option>
                    }
                </select>
            </div>
            <div class="col-2"></div>
        </div>
        <div class="row" style="height:30px">
            <div class="col-2 spasi">
                Application ID
            </div>
            <div class="col">
                <input id="txtAppID" class="form-control" />
            </div>
            <div class="col-2 spasi">
                Priority Level
            </div>
            <div class="col">
                <select id="ddlPriorityLevel" multiple="multiple">
                    @foreach (var item in Model.ddlPriorityLevel)
                    {
                        <option data-source="@item.Filter" data-position="@item.Filter2" data-prospek="@item.Filter3" value="@item.Value"> @item.Text</option>
                    }
                </select>
            </div>
            <div class="col-2"></div>
        </div>
        <div class="row" style="height:30px">
            <div class="col-2 spasi">
                Customer Name
            </div>
            <div class="col">
                <input id="txtCustName" class="form-control" />
            </div>
            <div class="col-2 spasi">
                Status Dukcapil
            </div>
            <div class="col">
                <select class="form-control" data-toggle="dropdown" id="ddlStatusDukcapil" name="ddlStatusDukcapil">
                    <option>All</option>
                    @foreach (var item in Model.ddlStatusDukcapil)
                    {
                        <option id="" value="@item.Value"> @item.Text</option>
                    }
                </select>
            </div>
            <div class="col-2"></div>
        </div>
        <div class="row" style="height:30px">
            <div class="col-2 spasi">
                Distributed Date >=
            </div>
            <div class="col">
                <input class="form-control" type="date" id="sdate" name="sdate" style="line-height:1.5">
            </div>
            <div class="col-2 spasi">
                Distributed Date <=
            </div>
            <div class="col">

                <input class="form-control" type="date" id="edate" name="edate" style="line-height:1.5">
            </div>
            <div class="col-2" style="text-align:right">
                <button id="btnSearch" class="btn btn-primary" style="background-color:#f1f1f1;color:black;width:60px">Search</button>
                <button id="btnReset" class="btn btn-primary" style="background-color:#f1f1f1;color:black;width:60px">Reset</button>
            </div>
        </div>
        <div class="row" style="height:30px">
            <div class="col-2 spasi">
                Source Data
            </div>
            <div class="col">
                <select class="form-control" data-toggle="dropdown" id="ddlSourceData" name="ddlSourceData">
                    <option>All</option>
                    @foreach (var item in Model.ddlSourceData)
                    {
                        <option id="" value="@item.Value"> @item.Text</option>
                    }
                </select>
            </div>
            <div class="col-2 spasi">
            </div>
            <div class="col">
            </div>
            <div class="col-2"></div>
        </div>
    </div>

    <div class="container">
        <div class="row" style="width:100%;background-color:#5f76e8;color:white;height:20px;font-size:12px;border-radius:2px">
            Task Detail
        </div>
        <div class="row" style="width:100%">
            <div class="card ex1" style="width:100%">
                <div class="container-fluid" style="padding: 30px;">
                    <table id="myTableList" class="table table-striped table-bordered" style="width:100%">
                        <thead class="font_header">
                        </thead>
                        <tbody class="font_detail">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

</form>


<script>
    $(document).ready(function () {
        $('#frmUpload').submit(function (e) {
            e.preventDefault();
            e.stopImmediatePropagation();
            $(this).prop('disabled', true);
            var form = new FormData(this)
            var fileExtension = ['xlsx', 'xls'];
            var namaFile = $("#myFile").val();
            if (namaFile == "" || namaFile == "Choose file...") {
                $(this).prop('disabled', false);
                Swal.fire("Information", "Format file extension yang diupload tidak sesuai", "info")
                return false;
            }
            else if ($.inArray($("#myFile").val().split('.').pop().toLowerCase(), fileExtension) == -1) {
                $(this).prop('disabled', false);
                Swal.fire("Information", "Format file extension yang diupload tidak sesuai", "info")
                return false;
            } else {
                Swal.fire({
                    title: "Uploading...",
                    text: "Please wait",
                    imageUrl: "css/jax-loader.gif",
                    showConfirmButton: false,
                    allowOutsideClick: false
                });
                $.ajax({
                    url: 'ChangeDukcapil/Upload?empNo=' + $("#empNo").val(),
                    data: form,
                    type: 'POST',
                    contentType: false,
                    processData: false,
                    enctype: 'multipart/form-data',
                    dataType: 'json',
                    async: true,
                    success: function (result) {
                        Swal.close();
                        $(this).prop('disabled', false);
                        if (result.isSucceed) {
                            Swal.fire("Information", result.message, "info")
                            var href = '';
                            href = 'ChangeDukcapil/ExportLog?guid=' + result.pguid;
                            window.location.href = href;
                        }
                        else {
                            Swal.fire("Information", result.message, "info")
                        }
                    }
                });
            }
            return false;
        });

        $('#reset').click(function (e) {
            e.preventDefault();
            $("#myFile").val('');
        });
    });
</script>
